/*---------Variables globales-----------*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,300;1,400&family=Nunito+Sans:wght@200&display=swap");
/*----------Maps-----------*/
/*---------Mixins----------*/
/*---------- SELECTORES---------- */
#selectores h1.one:first-letter {
  color: #A80000FF;
  font-size: 5.5rem;
  font-weight: 500; }
  @media (max-width: 440px) {
    #selectores h1.one:first-letter {
      font-size: 3rem; } }

#selectores p.two:first-letter {
  color: #A80000FF;
  font-size: 2rem; }

#selectores p.tres:first-letter {
  color: white;
  font-size: 2rem; }

#selectores p.cuatro:first-letter {
  color: #A80000FF;
  font-size: 3rem; }

/*-------------ANIMACIONES-------------*/
.autos:hover {
  transform: scale(1.1);
  transition: transform 2.5s; }

.transform:hover {
  transform: translate(-1px, -20px);
  transition: transform 2s; }

.autos1:hover {
  transform: scale(0.9);
  transition: transform 2s; }

.transformacion:hover {
  transform: scale(1.8);
  transform: translate(0, -7px);
  cursor: pointer;
  transition: transform 2s; }

/*-----------INDEX----------------*/
.text-back {
  text-decoration: none;
  text-align: center;
  font-size: 1.5rem;
  background-color: #808080;
  color: white; }

html {
  font-size: 62.5%; }

body {
  color: white;
  background-color: black; }

h1 {
  margin: 50px 515px;
  font-family: "Montserrat", sans-serif;
  font-size: 3.8rem; }

h2 a {
  margin: 50px 515px;
  padding: 0 200px;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  text-decoration: none;
  list-style: none; }

nav {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 500; }
  nav a {
    margin: 0px 110px;
    list-style: none;
    text-decoration: none; }
    nav a ul {
      display: inline-block; }
      nav a ul li {
        list-style: none;
        display: inline-block;
        margin: 10px 6px;
        font-family: "Montserrat", sans-serif;
        color: white;
        font-size: 2rem; }
        nav a ul li a:hover {
          color: #F5F0F0; }

.banner {
  background: linear-gradient(to bottom, whitesmoke, grey, black);
  color: #F5F0F0;
  padding-bottom: auto; }

.pegassi {
  margin-left: 10px;
  width: 5vw; }
  @media (max-width: 1100px) {
    .pegassi {
      display: flex;
      justify-content: flex-start;
      width: 14vw; } }

.text-titulo {
  text-align: center;
  font-size: 4.7rem;
  margin-top: 15px;
  margin-bottom: 40px; }
  @media (max-width: 440px) {
    .text-titulo {
      text-align: center;
      font-size: 3rem;
      font-family: "Montserrat", sans-serif;
      font-weight: 400; } }

.text-back {
  text-decoration: none;
  text-align: center;
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  background-color: #808080;
  color: white; }
  @media (max-width: 440px) {
    .text-back {
      text-decoration: none;
      text-align: center;
      font-size: 1rem;
      font-family: "Montserrat", sans-serif;
      font-weight: 300;
      background-color: #808080;
      color: #F5F0F0; } }

.resaltar {
  cursor: pointer; }
  .resaltar:hover {
    color: #A80000FF;
    transform: scale(1.2); }

/*---------- TUATARA ---------- */
.text-pregunta {
  text-align: center;
  font-size: 3rem;
  padding: -15px;
  margin-top: 50px; }
  @media (max-width: 440px) {
    .text-pregunta {
      font-size: 2rem;
      font-family: "Montserrat", sans-serif;
      font-weight: 300; } }

.text-tuata {
  text-decoration: none;
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
  font-size: 3rem;
  font-weight: 400;
  color: white;
  margin: 25px; }
  @media (max-width: 440px) {
    .text-tuata {
      text-decoration: none;
      text-align: center;
      font-size: 1.5rem;
      font-family: "Montserrat", sans-serif;
      font-weight: 300; } }

.text-especi {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  font-weight: 500;
  color: black;
  background-color: #808080;
  margin-top: 20px; }
  @media (max-width: 440px) {
    .text-especi {
      font-size: 2rem;
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; } }

.parrafo-especi {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  color: #F5F0F0;
  margin-top: 20px; }
  @media (max-width: 440px) {
    .parrafo-especi {
      font-size: 1.5rem;
      font-family: "Montserrat", sans-serif;
      font-weight: 300;
      margin: 10px;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; } }

.btn-mas, .btn-mas1, .btn-more {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  font-style: italic;
  line-height: 2em;
  color: #F5F0F0;
  background-color: #A80000FF; }

.btn-mas1 {
  color: #A80000FF;
  background-color: #F5F0F0; }

.imagen-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 13px;
  margin-bottom: 13px; }

.bg-osc {
  background-color: black; }

/*---------- NUESTROS VEHICULOS ---------- */
.titulo-depor {
  text-align: center;
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #F5F0F0;
  background-color: #808080;
  margin-top: 15px; }
  @media (max-width: 1100px) {
    .titulo-depor {
      font-size: 2rem;
      font-family: "Montserrat", sans-serif;
      font-weight: 300;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; } }

.contenedor-a, .contenedor-b {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  text-align: center;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 300; }
  @media (max-width: 1100px) {
    .contenedor-a, .contenedor-b {
      font-size: 1.5rem;
      font-family: "Montserrat", sans-serif;
      font-weight: 300;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; } }

.contenedor-b {
  flex-direction: row; }
  @media (max-width: 1100px) {
    .contenedor-b {
      font-size: 1.5rem;
      font-family: "Montserrat", sans-serif;
      font-weight: 300;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; } }

.texto-a {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  line-height: 1.4em;
  color: white;
  text-align: center;
  width: 60%;
  height: auto;
  padding: 10px;
  margin-top: 10px; }
  @media (max-width: 1100px) {
    .texto-a {
      font-size: 1.5rem;
      font-family: "Montserrat", sans-serif;
      font-weight: 300;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; } }

.texto-espe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media (max-width: 1100px) {
    .texto-espe {
      font-size: 1.5rem;
      font-family: "Montserrat", sans-serif;
      font-weight: 300;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; } }

.texto-ima, .texto-image {
  width: 40vw; }
  @media (max-width: 1100px) {
    .texto-ima, .texto-image {
      width: 90vw;
      font-size: 1.5rem;
      font-family: "Montserrat", sans-serif;
      font-weight: 300;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; } }

@media (max-width: 1100px) {
  .texto-image {
    font-size: 1.5rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; } }

.resaltado, .suvs {
  margin-top: 10px;
  text-decoration: none;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 3.8rem;
  font-weight: 400;
  color: #F5F0F0;
  background-color: #A80000FF; }
  @media (max-width: 1100px) {
    .resaltado, .suvs {
      font-size: 3rem;
      font-family: "Montserrat", sans-serif;
      font-weight: 300;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; } }

.suvs {
  background-color: #1606ED; }
  @media (max-width: 1100px) {
    .suvs {
      font-size: 1.5rem;
      font-family: "Montserrat", sans-serif;
      font-weight: 300;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; } }

.tecnicas {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  color: #F5F0F0;
  margin-top: 10px;
  margin-bottom: 10px; }
  @media (max-width: 1100px) {
    .tecnicas {
      font-size: 2rem;
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; } }

/*-------------- SERVICIOS AL CLIENTE -------------- */
.titulo-ser, .titulo-tuataras {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  font-weight: 500;
  background: linear-gradient(to bottom, #A80000FF, #F5F0F0);
  color: #0F0E0E;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 15px; }
  @media (max-width: 440px) {
    .titulo-ser, .titulo-tuataras {
      font-size: 2rem;
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; } }

.titulo-tuataras {
  background: linear-gradient(to bottom, #F5F0F0, #A80000FF); }

.texto-ser {
  font-family: "Nunito Sans", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  color: #F5F0F0;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 10px; }

.btn-more {
  background-color: #F5F0F0;
  color: #0F0E0E; }

/*-------------- CONTACTO -------------- */
.forms {
  width: 90vw;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 400; }

.pregunta {
  display: flex;
  justify-content: space-evenly;
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  font-weight: 400;
  border-top-color: #F5F0F0;
  border-top: solid;
  padding: 50px; }

.text-main {
  border-top: dashed;
  border-top-color: #F5F0F0;
  border-top-width: 2px;
  padding-top: 20px;
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
  font-size: 3rem;
  font-weight: 400;
  border-top-color: #F5F0F0; }

.text-map {
  margin-top: 30px;
  margin-left: 10px;
  margin-bottom: 30px;
  margin-right: 10px; }

.botones {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  font-style: italic;
  background-color: #F5F0F0;
  color: #0F0E0E;
  border-radius: 10px 15px;
  margin-bottom: 8px; }

/*-------------- ERROR 404 -------------- */
.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  @media (max-width: 768px) {
    .error {
      font-size: 2rem;
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; } }

.pagina-error, .not-found {
  font-family: "Nunito Sans", sans-serif;
  font-size: 4.7rem;
  font-weight: 500;
  color: #F5F0F0;
  margin-top: 10px; }
  @media (max-width: 768px) {
    .pagina-error, .not-found {
      font-size: 2rem;
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; } }

.not-found {
  font-family: "Montserrat", sans-serif;
  font-size: 5.5rem;
  margin-bottom: 15px;
  margin-bottom: 5px; }
  @media (max-width: 768px) {
    .not-found {
      margin-top: 15px;
      font-size: 4.7rem;
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; } }

.imagen-error {
  margin-top: 5px;
  border-radius: 15px;
  margin-bottom: 15px;
  margin-bottom: 15px; }
  @media (max-width: 768px) {
    .imagen-error {
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 80vw; } }

.recalcular {
  font-family: "Nunito Sans", sans-serif;
  font-size: 4.7rem;
  font-weight: 500;
  font-style: italic;
  color: #F5F0F0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 12px; }
  @media (max-width: 768px) {
    .recalcular {
      font-size: 2rem;
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 10px; } }

.boton {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  font-weight: 500;
  color: #0F0E0E;
  margin-top: 5px;
  padding: 5px 15px;
  border-radius: 10px;
  border: none;
  background: #F5F0F0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 12px; }
  @media (max-width: 768px) {
    .boton {
      font-size: 1.5rem;
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 10px; } }

/*---------- FOOTER ---------- */
footer a {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  text-decoration: none;
  list-style: none; }
  footer a p {
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    text-decoration: none;
    list-style: none; }

.footer {
  display: flex; }

.text-center {
  border-top-color: white;
  border-top: solid;
  justify-content: space-between;
  display: flex;
  padding: 50px; }
  @media (max-width: 440px) {
    .text-center {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; } }

.redes-sociales {
  display: flex;
  justify-content: flex-end;
  padding: 0px 10px; }

.copyright {
  display: flex;
  justify-content: flex-start;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.5rem; }
  @media (max-width: 440px) {
    .copyright {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: "Nunito Sans", sans-serif;
      font-size: 1rem;
      font-weight: 300; } }

.class {
  width: 2vw; }
  @media (max-width: 440px) {
    .class {
      width: 6.8vw; } }

@media (max-width: 440px) {
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 300; } }
