.text-titulo{
	text-align: center;
	font-size: $textXl;
	margin-top: 15px;
	margin-bottom: 40px;
	@media (max-width: 440px){
		text-align: center;
		font-size: $textMdl;
		font-family: $mainFont;
		font-weight: $regular;
	}	
}

.text-back{
	text-decoration:none;
	text-align: center;
	font-size: $textMd; 
	font-family:$mainFont;
	font-weight: $bold;
	background-color: map-get($map:$colores, $key:"cuatro");
	color: $secondaryColor;
	@media (max-width: 440px){
		text-decoration: none;
		text-align: center;
		font-size: $textSsm;
		font-family: $mainFont;
		font-weight: $light;
		background-color:map-get($map:$colores,$key:"cuatro");
		color: map-get($map:$colores,$key:"uno");
	}	
}

.resaltar{
	cursor: pointer;
	&:hover{
		color: map-get($map:$colores, $key:"tres");
		transform: scale(1.2);
	}
}

/*---------- TUATARA ---------- */

.text-pregunta{
	text-align: center;
	font-size: $textMdl;
	padding: -15px;
	margin-top: 50px;
	@media (max-width: 440px){
		font-size: $textMd;
		font-family: $mainFont;
		font-weight: $light;
	}
}

.text-tuata{
	text-decoration:none;
	text-align: center;
	font-family: $secondaryFont;
	font-size: $textMdl;
	font-weight: $regular; 
	color: $secondaryColor;
	margin: 25px;
	@media (max-width: 440px){
		text-decoration: none;
		text-align: center;
		font-size: $textSm;
		font-family: $mainFont;
		font-weight: $light;
	}	
}

.text-especi{
	text-align: center;
	font-family: $mainFont;
	font-size: $textMdl;
	font-weight: $bold;
	color: $mainColor;
	background-color:map-get($map:$colores, $key:"cuatro");
	margin-top: 20px;
	@media (max-width: 440px){
		font-size: $textMd;
		font-family: $mainFont;
		font-weight: $bold;
		text-align: center;
		display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	}

}

.parrafo-especi{
	text-align: center;
	font-family: $mainFont;
	font-size: $textMd;
	font-weight: $regular;
	color:map-get($map:$colores,$key:"uno");
	margin-top: 20px;
	@media (max-width: 440px){
		font-size: $textSm;
		font-family: $mainFont;
		font-weight: $light;
		margin: 10px;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}

.btn-mas{
	font-family: $mainFont;
	font-size: $textSm;
	font-weight: $bold;
	font-style: $mainStyle;
	line-height:$standard;
	color:map-get($map:$colores,$key:"uno");
	background-color:map-get($map:$colores,$key:"tres");
}
.btn-mas1{
	@extend .btn-mas;
	color:map-get($map:$colores,$key:"tres");
	background-color:map-get($map:$colores,$key:"uno");

}

.imagen-center{
		display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 13px;
	margin-bottom: 13px;

}


.bg-osc{
	background-color: $mainColor;

}


/*---------- NUESTROS VEHICULOS ---------- */

.titulo-depor{
	text-align: center;
	font-size: $textMdl;
	font-family: $mainFont;
	font-weight: $bold;
	color: map-get($map:$colores,$key:"uno");
	background-color:map-get($map:$colores, $key:"cuatro");
	margin-top: 15px;
	@media (max-width: 1100px){
		font-size: $textMd;
		font-family: $mainFont;
		font-weight: $light;
		text-align: center;
		display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	}
}

.contenedor-a{
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-evenly;
	text-align: center;
	font-size: $textSm;
	font-family: $mainFont;
	font-weight: $light;
	@media (max-width: 1100px){
		font-size: $textSm;
		font-family: $mainFont;
		font-weight: $light;
		text-align: center;
		display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
}

.contenedor-b{
	@extend .contenedor-a;
	flex-direction: row;
		@media (max-width: 1100px){
		font-size: $textSm;
		font-family: $mainFont;
		font-weight: $light;
		text-align: center;
		display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
	
}

.texto-a{
	@include texto($light,1.4em,$secondaryColor);
		@media (max-width: 1100px){
		font-size: $textSm;
		font-family: $mainFont;
		font-weight: $light;
		text-align: center;
		display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

}

.texto-espe{
	@include flex-column();
	@media (max-width: 1100px){
		font-size: $textSm;
		font-family: $mainFont;
		font-weight: $light;
		text-align: center;
		display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
}

.texto-ima{
	width: 40vw;
	@media (max-width: 1100px){
		width: 90vw;
		font-size: $textSm;
		font-family: $mainFont;
		font-weight: $light;
		text-align: center;
		display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

}


.texto-image{
	@extend .texto-ima;
	@media (max-width: 1100px){
		font-size: $textSm;
		font-family: $mainFont;
		font-weight: $light;
		text-align: center;
		display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

}

.resaltado{
	margin-top: 10px;
	text-decoration: none;
	text-align: center;
	font-family: $mainFont;
	font-size: $textLg;
	font-weight: $regular;
	color: map-get($map:$colores, $key:"uno");
	background-color: map-get($map:$colores,$key:"tres");
	@media (max-width:1100px){
		font-size: $textMdl;
		font-family: $mainFont;
		font-weight: $light;
		text-align: center;
		display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

}

.suvs{
	@extend .resaltado;
	background-color:map-get($map:$colores,$key:"cinco");
	@media (max-width: 1100px){
		font-size: $textSm;
		font-family: $mainFont;
		font-weight: $light;
		text-align: center;
		display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
}
.tecnicas{
	text-align: center;
	font-family: $mainFont;
	font-size: $textMd;
	font-weight: $bold;
	color: map-get($map:$colores, $key:"uno");
	margin-top: 10px;
	margin-bottom: 10px;
	@media (max-width: 1100px){
		font-size: $textMd;
		font-family: $mainFont;
		font-weight: $bold;
		text-align: center;
		display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
}

/*-------------- SERVICIOS AL CLIENTE -------------- */

.titulo-ser{
	font-family: $mainFont ;
	font-size: $textMdl;
	font-weight: $bold;
	background:linear-gradient(to bottom,#A80000FF,#F5F0F0);
	color:map-get($map:$colores,$key:"dos");
	display: flex;
	text-align: center;
	justify-content: center;
	align-items:center;
	margin-top: 15px;
	@media (max-width: 440px){
		font-size: $textMd;
		font-family: $mainFont;
		font-weight: $bold;
		text-align: center;
		display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
}


.titulo-tuataras{
	@extend .titulo-ser;
	background:linear-gradient(to bottom,#F5F0F0,#A80000FF);

}

.texto-ser{
		font-family: $secondaryFont;
		font-size: $textMd;
		font-weight: $regular;
		color:map-get($map:$colores,$key:"uno") ;
		margin-left: 20px;
		margin-right: 20px;
		margin-bottom: 20px;
		margin-top: 10px;
}



.btn-more{
	@extend .btn-mas;
	background-color:map-get($map:$colores,$key:"uno");
	color:map-get($map:$colores,$key:"dos");
}


/*-------------- CONTACTO -------------- */

.forms{
	width:90vw;
	font-family: $mainFont;
	font-size: $textMd;
	font-weight: $regular;

}

.pregunta{
	display: flex;
	justify-content: space-evenly;
	font-family: $mainFont;
	font-size: $textMdl;
	font-weight: $regular;
	border-top-color:map-get($map:$colores,$key:"uno");
	border-top:solid;
	padding: 50px;

}

.text-main {
  border-top: dashed;
  border-top-color: #F5F0F0;
  border-top-width: 2px;
  padding-top: 20px;
  text-align: center;
  font-family: $secondaryFont;
  font-size: $textMdl;
  font-weight: $regular;
  border-top-color:map-get($map:$colores,$key:"uno");
}

.text-map {
  margin-top: 30px;
  margin-left: 10px;
  margin-bottom: 30px; 
  margin-right: 10px;
}

.botones{
	font-family: $mainFont;
	font-size: $textMd;
	font-weight: $bold;
	font-style: italic;
	background-color:map-get($map:$colores,$key:"uno");
	color:map-get($map:$colores,$key:"dos");
	border-radius: 10px 15px;
	margin-bottom: 8px;
}


/*-------------- ERROR 404 -------------- */

.error{
	display: flex;
	flex-direction: column;
	align-items:center;
	justify-content: center;
	@media (max-width: 768px){
		font-size: $textMd;
		font-family: $mainFont;
		font-weight: $bold;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
}

}

.pagina-error{
	font-family: $secondaryFont;
		font-size: $textXl;
		font-weight: $bold;
		color:map-get($map:$colores,$key:"uno") ;
		margin-top: 10px;
		@media (max-width: 768px){
		font-size: $textMd;
		font-family: $mainFont;
		font-weight: $bold;
		text-align: center;
		display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
}

.not-found{
	@extend .pagina-error;
	font-family: $mainFont;
	font-size: $textXxl;
	margin-bottom: 15px;
	margin-bottom: 5px;
	@media (max-width: 768px){
		margin-top: 15px;
		font-size: $textXl;
		font-family: $mainFont;
		font-weight: $bold;
		text-align: center;
		display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}
}

.imagen-error{
	margin-top: 5px;
	border-radius:15px;
	margin-bottom: 15px;
	margin-bottom: 15px;
	@media (max-width: 768px){
		text-align: center;
		display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 80vw;
}
}

.recalcular{
	font-family: $secondaryFont;
		font-size: $textXl;
		font-weight: $bold;
		font-style: italic;
		color:map-get($map:$colores,$key:"uno") ;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-top: 12px;
		@media (max-width: 768px){
		font-size: $textMd;
		font-family: $mainFont;
		font-weight: $bold;
		text-align: center;
		display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px;
}
}

.boton{
	font-family: $mainFont;
	font-size: $textMdl;
	font-weight: $bold;
	color:map-get($map:$colores,$key:"dos");
	margin-top: 5px;
	padding:5px 15px;
	border-radius:10px;
	border:none;
	background:map-get($map:$colores,$key:"uno");
	display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-top: 12px;
		@media (max-width: 768px){
		font-size: $textSm;
		font-family: $mainFont;
		font-weight: $bold;
		text-align: center;
		display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
}
}

