@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,300;1,400&family=Nunito+Sans:wght@200&display=swap');

//fonts

$mainFont:'Montserrat', sans-serif;
$secondaryFont:'Nunito Sans', sans-serif;

//text sixing
$textSsm:1rem;
$textSm:1.5rem;
$textMd:2rem;
$textMdl:3rem;
$textLg:3.8rem;
$textXl:4.7rem;
$textXxl:5.5rem;

//font - weight
$bold:500;
$regular:400;
$light:300;
