/*---------- FOOTER ---------- */

footer{
		a{
			font-family: $mainFont;
	font-size: $textMd;
	text-decoration: none;
	list-style: none;
			p{
				font-family: $mainFont;
			font-size:$textMd;
			text-decoration: none;
			list-style: none;
			}	

		}
	
}


.footer{
	display: flex;
}

.text-center{
	border-top-color: $secondaryColor;
	border-top: solid;
	justify-content: space-between;
	display: flex;
	padding: 50px;
	@media (max-width: 440px){
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

}
.redes-sociales{
	display: flex;
	justify-content:flex-end;
	padding: 0px 10px;

}
.copyright{
	display: flex;
	justify-content: flex-start;
	font-family: $secondaryFont;
	font-size: $textSm;
	@media (max-width: 440px){
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: $secondaryFont;
	font-size: $textSsm;
	font-weight: $light;
}
}

.class{
	width: 2vw;	
	@media (max-width: 440px){
	width: 6.8vw;
}	
}

@media (max-width: 440px){
.footer{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: $textSm;
	font-weight: $light;
}
}
