nav{
	font-family: $mainFont;
	font-size: $textMd;
	font-weight: $bold;
	
	a{
		margin: 0px 110px;
			list-style: none;
			text-decoration: none;
			ul{
				display: inline-block;
				li{
					list-style: none;
					display: inline-block;
					margin:10px 6px;
					font-family: $mainFont;
					color: $secondaryColor;
					font-size:$textMd;
					a{
						&:hover{
							color: map-get($map:$colores, $key:"uno");
					}
				}
			}

		}
	}
}
.banner {
    background:linear-gradient(to bottom,whitesmoke,grey,black);
    color: map-get($map:$colores, $key:"uno");
    padding-bottom: auto;
}

.pegassi{
	margin-left: 10px;
	width: 5vw;
	@media (max-width: 440px){
	display: flex;
	justify-content:flex-start;
	width: 14vw;
	
}
}








