
.banner {
	font-family: $mainFont;
	font-size: $textMd;
	font-weight: $bold;
	list-style: none;
	text-decoration: none;
    @media (max-width: 1100px){
    font-family: $mainFont;
	font-size: $textSm;
	font-weight: $bold;

	}
	}
   
.bg-degrade{
	background:linear-gradient(to bottom,whitesmoke,grey,black);
}

.space{
	margin-left: 110px;
	margin-right: auto;
	@media (max-width: 1100px){
    margin-left: auto;
    margin-right: auto;

}
}

.spaces{
	margin-left: 190px;
	@media (max-width: 1100px){
    margin-left: auto;
    margin-right: auto;

}
}

.pegassi{
	margin-left: 100px;
	width: 5vw;
	@media (max-width: 1100px){
	margin-left: 158px;
	width: 14vw;

}
}








