<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!------------------------------ METAS SEO ------------------------->
    
    <meta name= "description" content="Medios de contacto y ubicacion de nuestro concesionario oficial.">
     <meta name= "keywords" content="Preguntas, dudas, mapa, concesionario,formulario.">
      
      <meta name= "author" content="Ivan Sabino">

    <!---------------------------- BOOTSTRAP CSS -------------------------->
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!----------------------------- MI CSS ------------------------------------>
    
    <link rel="stylesheet" href="../css/style.css">

    <title>Pegassi Argentina
    </title>
    <link rel="shortcout icon" href="../img/logo.png">
  </head>
  <body>
   
    <!---------------------------- INICIA LA NAV ------------------------------->
    
      <nav class="navbar navbar-expand-lg  sticky-top navbar-light bg-light banner" id="sticky">
       <div class="container-fluid">
         <a class="navbar-brand" href="../index.html">
          <img src="../img/logo.png" class="pegassi"  alt="Logo Pegassi Argentina">
         </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">
            </span>
          </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link" href="../views/tuatara.html">Tuatara
                  </a>
                </li>
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="../views/nuestros-vehiculos.html">Nuestros Vehiculos
                    </a>
                  </li>
                   <li class="nav-item">
                     <a class="nav-link" href="../views/servicios-al-cliente.html">Servicios al Cliente
                     </a>
                   </li>
                     <li class="nav-item">
                      <a class="nav-link" href="../views/contacto.html">Contacto
                      </a>
                     </li>
              </ul>
            </div>
        </div>
      </nav>


    <!------------------------------ FIN NAV ----------------------------------->
			
      <Header class="text-pregunta">
				<div id="selectores">
    		  <h1 class="container-fluid ">Sus Preguntas
          </h1>
				</div>
			</Header>
			       <h2 class="pregunta"> ¿Tiene alguna pregunta? Por favor, háganosla llegar.
				    </h2>
			 </div>
				<main class="d-flex justify-content-center">
		
          <!------------------ INICIO FORM ----------------------->

    <form class="row g-3 forms d-flex justify-content-center">
  <div class="col-md-6">
    <label for="inputName" class="form-label">Nombre
    </label>
    <input type="text" class="form-control" id="inputEmail4" placeholder="Nombre">
  </div>
  <div class="col-md-6">
    <label for="inputSurname" class="form-label">Apellido
    </label>
    <input type="text" class="form-control" id="inputPassword4" placeholder="Apellido">
  </div>
  <div class="col-md-6">
    <label for="inputAddress" class="form-label">Mail
    </label>
    <input type="text" class="form-control" id="inputAddress" placeholder="email@gmail.com">
  </div>
  <div class="col-md-6">
    <label for="inputAddress2" class="form-label">Telefono
    </label>
    <input type="text" class="form-control" id="inputAddress2" placeholder="Sin 0 ni 15">
  </div>
  <div class="col-md-6">
    <label for="inputCity" class="form-label">Provincia
    </label>
    <input type="text" class="form-control" id="inputCity">
  </div>
  <div class="col-md-6">
    <label for="inputCity" class="form-label">Localidad
    </label>
    <input type="text" class="form-control" id="inputCity">
  </div>
  <div class="col-12">
    <label for="inputZip" class="form-label">Deje aqui su duda o consulta
    </label>
    <input type="text" class="form-control" id="inputZip">
  </div>
  <div class="col-12">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck">
        No soy un robot
      </label>
    </div>
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Enviar
    </button>
  </div>
</form>
     
      <!------------------ FIN FORM ----------------------->

      </main>
      <main class="text-main">
          <h2>
          Descubra el mundo Pegassi: encuentre el concesionario mas cercano
          </h2>
            <iframe class="text-map w-50" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1991.006662503648!2d-60.68035844434598!3d-32.938843312006014!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95b7aca969be32db%3A0xe8d9bd58c01729c8!2sAudi%20Marrocchi%20Exclusivos%20Agencia!5e0!3m2!1ses!2sar!4v1654102710602!5m2!1ses!2sar" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
            </iframe>
          
     </main>
				
				<!------------------ Option 1: Bootstrap Bundle with Popper ----------------->
    				
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
            </script>

                  <!------------------ INICIO FOOTER ----------------------->
				
        <footer class="text-center container-fluid footer">
				<div class="copyright">
					<p> 	
					2022 - Pegassi Argentina - Todos los derechos reservados.
					</p>
			      </div>
				<div class="redes-sociales">
					<a href="https://www.facebook.com/Ivanx148/"target="_blank">
						<img class="class" src="../img/facebook.png" alt="Facebook Pegassi Argentina">
					</a>	
						<a href="https://www.instagram.com/ivansabino97/"target="_blank">
							<img class="class" src="../img/instagram.png" alt="Instagram Pegassi Argentina">
						</a>
							<a href="https://twitter.com/IvanSabino97"target="_blank">
								<img class="class" src="../img/twitter.png" alt="Twitter Pegassi Argentina">
							</a>
								<a href="https://www.youtube.com/channel/UC6ip98qcbtTUFduinYYTnIQ"target="_blank">
									<img class="class" src="../img/youtube.png" alt="YouTube Pegassi Argentina">
								</a>
									<a href="https://ar.linkedin.com"target="_blank">
										<img class="class" src="../img/in.png" alt="Linkedin Pegassi Argentina">
									</a>
				</div>
			</footer>
                    <!------------------ FIN FOOTER ----------------------->
	</body>
</html>
					