<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!-- Metas SEO -->

		<meta name= "description" content="Lista de Deportivos y SUVs de Pegassi, la coleccion mas selecta y exclusiva de vehiculos premium.">

		<meta name= "keywords" content="Pegassi,Deportivos,SUVs,W11,Stradale,Tempesta,Urus,Streiter,GLB.">
      
     <meta name= "author" content="Ivan Sabino">


    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Mi CSS -->
    <link rel="stylesheet" href="../css/style.css">

    <title>Pegassi Argentina</title>
    <link rel="shortcout icon" href="../img/logo.png">
  </head>
  <body>
    <!-- INICIA LA NAV -->
    <nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light banner" id="sticky">
  <div class="container-fluid">
    <a class="navbar-brand" href="../index.html">
      <img src="../img/logo.png" class="pegassi"  alt="Logo Pegassi Argentina">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="../views/nuestros-vehiculos.html">Nuestros Vehiculos</a>
           </li>
        <li class="nav-item">
            <a class="nav-link" href="../views/tuatara.html">Tuatara</a>
           </li>
        <li class="nav-item">
             <a class="nav-link" href="../views/servicios-al-cliente.html">Servicios al Cliente</a>
           </li>
        <li class="nav-item">
            <a class="nav-link" href="../views/contacto.html">Contacto</a>
           </li>
      </ul>
    </div>
  </div>
</nav>

    <!-- FIN NAV -->
		<header class="container-fluid text-pregunta" id="selectores">
			<section class="text-titulo">
				<h1 class="container-fluid">Nuestros Vehículos
				</h1>
					<h2 class="resaltado">Deportivos
					</h2>
					<div>
						<h3 class="titulo-depor">Pegassi Stradale
						</h3>
						<article class="contenedor-a">
							<img class="texto-image autos" src="../img/stradale.png" alt="Pegassi Stradale">
							<div class="texto-espe">
							<p class="texto-a one two">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint 
							occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							</p>
								<h4>Especificaciones Técnicas</h4>
								<p class="texto-a two">
								Lorem ipsum dolor, sit, amet consectetur adipisicing elit. Quibusdam dolorem numquam, velit quasi tempora eum, tenetur, optio veritatis et eaque impedit, nobis obcaecati dicta voluptatibus quos! Suscipit quam, rem. Earum?
								</p>
							</div>
							 </article>
					</div>
						<div>
						<h3 class="titulo-depor">Pegassi W11
						</h3>
						<article class="contenedor-b">
							<img class="texto-ima autos" src="../img/zonda.jpg" width="742" height="300" alt="Pegassi W11">
							<div class="texto-espe">
								<p class="texto-a two">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							</p>
									<h4>Especificaciones Técnicas</h4>
									<p class="texto-a two">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae laborum, nemo, omnis impedit dignissimos blanditiis doloremque ad error animi maxime saepe, tempora assumenda. Asperiores nisi consequuntur corporis iste eaque numquam.
							</p>
							</div>
							</article>
						</div>
						<h3 class="titulo-depor"> Pegassi Tempesta
						</h3>
							<article class="contenedor-a">
							<img class="texto-image autos" src="../img/aventador.jpg"	width="742"	height="300" alt="Pegassi Tempesta">
							<div class="texto-espe">
							<p class="texto-a two">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							</p>
								<h4> Especificaciones Técnicas</h4>
								<p class="texto-a two">
								Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem nostrum fugit ipsa tenetur doloribus ex quis molestias quasi laudantium eaque alias ab iusto, distinctio, doloremque nesciunt vitae accusamus vel error.
								</p>
							</p>
							</div>
							</article>
						
					<h2 class="suvs">SUVs</h2>
						<div>
						<h3 class="titulo-depor">Pegassi Urus</h3>
						<article class="contenedor-b">
							<img class="texto-ima autos" src="../img/urus.jpg"	width="742" height="300" alt="Pegassi Urus">
								<div class="texto-espe">
								<p class="texto-a two">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
								cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
								proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								</p>
								<h4>Especificaciones Técnicas</h4>
								<p class="texto-a two">
								Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam ducimus ipsa sapiente obcaecati neque reprehenderit corrupti consectetur at fugit. Saepe iste, possimus tenetur ex numquam. Accusamus reprehenderit laudantium quo. Quia!
							</p>
							</div>
							</article>
							</div>
						<h3 class="titulo-depor">Pegassi Streiter</h3>
							<article class="contenedor-a">
							<img class="texto-image autos" src="../img/gle.jpg"	width="742" height="300" alt="Pegassi Streiter">
								<div class="texto-espe">
								<p class="texto-a two"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi alias repellendus atque fuga facilis facere illum velit a inventore labore assumenda cupiditate, pariatur veritatis non voluptatum minima distinctio, eos unde.
								</p>	
								<h4>Especificaciones Técnicas</h4>
								<p class="texto-a two">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
								cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
								proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							</p>
							</div>
						</article>
						</div>
						<h3 class="titulo-depor">Pegassi GLB
						</h3>
							<article class="contenedor-b">
							<img class="texto-ima autos" src="../img/mercedes.jpg"	width="742" height="300" alt="Pegassi GLB">
								<div class="texto-espe">
								<p class="texto-a two">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
								cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
								proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								</p>
								<h4>Especificaciones Técnicas
								</h4>
								<p class="texto-a two"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque sit perspiciatis id debitis aspernatur obcaecati, reprehenderit vitae quisquam mollitia ab ad quidem minima cum natus, repellat dolorem dolorum cupiditate deserunt?
								</p>
								</div>
							</article>
			</section>
		</header>

		<!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

		<footer class="text-center container-fluid footer">
				<div class="copyright">
					<p> 	
					2022 - Pegassi Argentina - Todos los derechos reservados.
					</p>
			      </div>
				<div class="redes-sociales">
					<a href="https://www.facebook.com/Ivanx148/"target="_blank">
						<img src="../img/facebook.png" width="50" height="50" alt="Facebook Pegassi Argentina">
					</a>	
						<a href="https://www.instagram.com/ivansabino97/"target="_blank">
							<img src="../img/instagram.png"width="50" height="50" alt="Instagram Pegassi Argentina">
						</a>
							<a href="https://twitter.com/IvanSabino97"target="_blank">
								<img src="../img/twitter.png" width="50" height="50" alt="Twitter Pegassi Argentina">
							</a>
								<a href="https://www.youtube.com/channel/UC6ip98qcbtTUFduinYYTnIQ"target="_blank">
									<img src="../img/youtube.png" width="50" height="50" alt="YouTube Pegassi Argentina">
								</a>
									<a href="https://ar.linkedin.com"target="_blank">
										<img src="../img/in.png" width="50" height="50" alt="Linkedin Pegassi Argentina">
									</a>
				</div>
			</footer>
	</body>
</html>
	