<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!-------------------- METAS SEO ---------------------->

		<meta name= "description" content="Lista de Deportivos y SUVs de Pegassi, la coleccion mas selecta y exclusiva de vehiculos premium.">

		<meta name= "keywords" content="Pegassi,Deportivos,SUVs,W11,Stradale,Tempesta,Urus,Streiter,GLB.">
      
     <meta name= "author" content="Ivan Sabino">


    <!------------------------- BOOTSTRAP CSS ---------------------->
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!---------------------------- MI CSS --------------------------->
   
    <link rel="stylesheet" href="../css/style.css">

    <title>Pegassi Argentina
    </title>
    <link rel="shortcout icon" href="../img/logo.png">
  </head>
  <body>
   

    <!-------------------------- INICIA LA NAV ------------------------------------->

			<nav class="navbar navbar-expand-lg  sticky-top navbar-light bg-light banner" id="sticky">
			 <div class="container-fluid">
			   <a class="navbar-brand" href="../index.html">
			  	<img src="../img/logo.png" class="pegassi"  alt="Logo Pegassi Argentina">
			   </a>
			    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			      <span class="navbar-toggler-icon">
			      </span>
			    </button>
			    	<div class="collapse navbar-collapse" id="navbarSupportedContent">
			      	<ul class="navbar-nav me-auto mb-2 mb-lg-0">
			        	<li class="nav-item">
			          	<a class="nav-link" href="../views/tuatara.html">Tuatara
			          	</a>
			          </li>
			        		<li class="nav-item">
			            	<a class="nav-link" aria-current="page" href="../views/nuestros-vehiculos.html">Nuestros Vehiculos
			            	</a>
			           	</li>
			       			 <li class="nav-item">
			            	 <a class="nav-link" href="../views/servicios-al-cliente.html">Servicios al Cliente
			            	 </a>
			          	 </li>
			       				 <li class="nav-item">
			            		<a class="nav-link" href="../views/contacto.html">Contacto
			            		</a>
			          		 </li>
			      	</ul>
			    	</div>
				</div>
			</nav>
    
    <!------------------------------- FIN NAV ---------------------------------------->
		

		<header class="container-fluid text-pregunta" id="selectores">
			<section class="text-titulo">
				<h1 class="container-fluid">
					Nuestros Vehículos
				</h1>
					<h2 class="resaltado">Deportivos
					</h2>
						<div>
							<h3 class="titulo-depor">Pegassi SF90 Stradale
							</h3>
								<article class="contenedor-a">
									<img class="texto-image autos1 img-thumbnail " src="../img/SF90.jpg" alt="Pegassi SF90 Stradale">
										<div class="texto-espe">
												<h4 class="tecnicas">Vision General
												</h4>
													<p class="texto-a one two">El SF90 Stradale es el primer Pegassi con arquitectura PHEV (vehículo eléctrico híbrido enchufable) que ve su motor de combustión interno integrado con tres motores eléctricos, dos de los cuales son independientes y están ubicados en el eje delantero, con el tercero en la parte trasera, entre el motor y la caja de cambios.
													</p>
												<h4 class="tecnicas">Especificaciones Técnicas
												</h4>
													<p class="texto-a two">
													Está equipado con tres motores eléctricos, añadiendo una potencia de 220 CV a un motor V8 biturbo con una potencia máxima de 780 CV a las 7.500 rpm. El Deportivo produce una potencia total combinada de 1000 CV a las 8.000 rpm y un par máximo de 800 Nm a las 6.000 rpm. Las cabezas del motor ahora son más estrechas y los inyectores de combustible centrales son todos nuevos, que trabajan a una presión de 350 bar. El ensamble para los turbocompresores es más bajo que el del sistema de escape y el motor se encuentra 50 mm más bajo en el chasis, a fin de mantener un centro de gravedad más bajo.
													</p>
										</div>
								</article>
						</div>
										<div>
							<h3 class="titulo-depor">Pegassi W11
							</h3>
								<article class="contenedor-b">
									<img class="texto-ima autos1 img-thumbnail" src="../img/zonda.jpg" alt="Pegassi W11">
											<div class="texto-espe">
												<h4 class="tecnicas">Vision General
												</h4>
													<p class="texto-a two">El W11 conforma otra de las series limitadas de producción de Pegassi. Se destaca por un diseño muy eficiente aerodinámicamente y un nivel de construcción del chasis que marca diferencias con respecto a sus rivales.
													La carrocería asegura un notable sustento aerodinámico por sus formas más sus spoilers y alerones. Estos elementos colaboran con la estética para generar un aspecto muy similar al de un auto de competición. El nivel de arrastre (drag) es bastante reducido, hecho que mejora la eficiencia del Deportivo. 
													</p>
												<h4 class="tecnicas">Especificaciones Técnicas
												</h4>
												<p class="texto-a two">
													Monta un motor 6.0 V12 de 750 caballos a 6.150 rpm y un torque máximo de 561 libras pie a 4.000 rpm. Acelera de 0 a 100 en 3,2 segundos y su velocidad máxima se acerca a 400 km/h. Su peso es de 1.100 kg.
												</p>
											</div>
								</article>
										</div>
							<h3 class="titulo-depor"> Pegassi Tempesta
							</h3>
								<article class="contenedor-a">
									<img class="texto-image autos1 img-thumbnail" src="../img/aventador.jpg" alt="Pegassi Tempesta">
											<div class="texto-espe">
												<h4 class="tecnicas">Vision General
												</h4>
													<p class="texto-a two">
													El Tempesta lleva la evolución de la tecnología predictiva del modelo V10 de Pegassi más popular de todos los tiempos a una dimensión de emociones de conducción puras y sin filtros, donde las capacidades de conducción y la mecánica marcan la diferencia.
													Las sofisticadas características aerodinámicas se fusionan con el icónico diseño de Pegassi. Sus líneas trazan trayectos definidos hacia el exterior: la gran toma de aire delantera está dotada de un sistema aerodinámico mejorado, mientras que el nuevo difusor trasero inferior ha sido diseñado específicamente. 
													</p>
												<h4 class="tecnicas"> Especificaciones Técnicas
												</h4>
													<p class="texto-a two">
													El Tempesta monta un motor V12 naturalmente aspirado de 6498 cm³, que logra una potencia máxima de 700 CV a las 8250 rpm y un par máximo de 690 N·m a las 5500 rpm. Su velocidad máxima es de 350 km/h con una aceleración de 0 a 100 km/h en 2,9 segundos.
													</p>
											</div>
								</article>
						
					<h2 class="suvs">SUVs
					</h2>
						<div>
							<h3 class="titulo-depor">Pegassi Urus
							</h3>
								<article class="contenedor-b">
								<img class="texto-ima autos1 img-thumbnail" src="../img/urus.jpg"	 alt="Pegassi Urus">
									<div class="texto-espe">
										<h4 class="tecnicas">Vision General
										</h4>
										<p class="texto-a two">
										 Pegassi Urus es el primer vehículo utilitario superdeportivo en todo el mundo. Con unas proporciones extremas, un diseño estremecedor, una dinámica de conducción extraordinaria y un rendimiento taquicárdico. Podrá experimentar cualquier carretera, desde el circuito a la arena pasando por el hielo, la grava o la piedra, conquistándolas todas.
										</p>
										<h4 class="tecnicas">Especificaciones Técnicas
										</h4>
										<p class="texto-a two">
										Su motorización consiste en un V8 de 4 litros sobrealimentado por medio de dos turbocompresores que desarrollan una potencia máxima de 650 CV a 6.000 rpm junto a un par motor de 850 Nm a 2.250 Nm. El apartado mecánico se completa con una caja de cambios automática por convertidor de par de 8 relaciones, tracción integral con distribución del par trasero activo, un sistema antibalanceo activo, cuatro ruedas directrices y frenos carbocerámicos de 440 mm en el eje delantero y 370 mm en el posterior.Con todo ello consigue unas cifras impresionantes, como un 0 a 100 km/h en 3,6 segundos o una velocidad máxima de 305 km/h, propias de un superdeportivo y no de un SUV.
										</p>
									</div>
								</article>
						</div>
							<h3 class="titulo-depor">Pegassi Streiter
							</h3>
								<article class="contenedor-a">
								<img class="texto-image autos1 img-thumbnail" src="../img/gle.jpg" alt="Pegassi Streiter">
									<div class="texto-espe">
										<h4 class="tecnicas">Vision General
										</h4>
											<p class="texto-a two"> 
									 		El nuevo Pegassi Streiter concilia muchos atributos aparentemente contradictorios, pues conjuga deportividad con aptitud para todoterreno e idoneidad para la conducción a diario.
									  	Ostenta un diseño exterior acentuado en cada uno de sus detalles, que lo distingue claramente de su competencia. Los rasgos autónomos del diseño exterior comienzan en la calandra del radiador específica de Pegassi y se prolongan en el capó, el faldón delantero y el diseño lateral hasta la zaga.
											</p>	
										<h4 class="tecnicas">Especificaciones Técnicas
										</h4>
										<p class="texto-a two">
										El potente motor de seis cilindros en línea y 3,0 litros con sobrealimentación doble mediante un turbocompresor perimiten alcanzar una velocidad máxima de 270 km/h. Posee un compresor adicional eléctrico, así como alternador arrancador integrado, entrega un par máximo de 520 Nm, ofrece una excelente capacidad de aceleración (de 0 a 100 km/h en 5.1 segundos) y garantiza placer de conducción puro. A esto se suma la tracción integral, de gran agilidad, para una respuesta directa y una distribución de la fuerza variable en función de la situación.
										</p>
									</div>
								</article>
									</div>
							<h3 class="titulo-depor">Pegassi GLB
							</h3>
								<article class="contenedor-b">
									<img class="texto-ima autos1 img-thumbnail" src="../img/mercedes.jpg"	 alt="Pegassi GLB">
									<div class="texto-espe">
										<h4 class="tecnicas">Vision General
										</h4>
											<p class="texto-a two">
											La nueva GLB es el primer vehículo de su segmento con un concepto variable del espacio interior. De ese 	modo, tienes la libertad que precisas para hacer realidad tus planes.
											El habitáculo de la nueva GLB es asombrosamente generoso y llamativamente elegante. La mirada no sigue solamente los elementos destacados, como el puesto de conducción widescreen exento y la agradable iluminación de ambiente, sino que se ve también atraída por los llamativos rasgos de diseño de SUV.
											</p>
										<h4 class="tecnicas">Especificaciones Técnicas
										</h4>
											<p class="texto-a two"> 
											Dispone de un motor 2.0 turbo de cuatro cilindros con 306 CV, asociado a una transmisión automática de 	doble embrague 8 relaciones que transmite la potencia al suelo a través de un sistema de tracción integral inteligente, que le permite acelerar de 0 a 100 km/h en 5.2 segundos, alcanzando una velocidad máxima de 250 km/h.
											</p>
									</div>
								</article>
			</section>
		</header>

		<!------------------ Option 1: Bootstrap Bundle with Popper ------------------------->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>

											<!------------- INICIO FOOTER ---------------->

		<footer class="text-center container-fluid footer">
				<div class="copyright">
					<p> 	
					2022 - Pegassi Argentina - Todos los derechos reservados.
					</p>
			      </div>
				<div class="redes-sociales">
					<a href="https://www.facebook.com/Ivanx148/"target="_blank">
						<img class="class" src="../img/facebook.png" alt="Facebook Pegassi Argentina">
					</a>	
						<a href="https://www.instagram.com/ivansabino97/"target="_blank">
							<img class="class" src="../img/instagram.png" alt="Instagram Pegassi Argentina">
						</a>
							<a href="https://twitter.com/IvanSabino97"target="_blank">
								<img class="class" src="../img/twitter.png" alt="Twitter Pegassi Argentina">
							</a>
								<a href="https://www.youtube.com/channel/UC6ip98qcbtTUFduinYYTnIQ"target="_blank">
									<img class="class" src="../img/youtube.png" alt="YouTube Pegassi Argentina">
								</a>
									<a href="https://ar.linkedin.com"target="_blank">
										<img class="class" src="../img/in.png" alt="Linkedin Pegassi Argentina">
									</a>
				</div>
			</footer>
											<!------------- FIN FOOTER ---------------->
	</body>
</html>
	