<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--------------------------- METAS SEO ------------------------------>

    <meta name= "description" content="Servicios al cliente que brindamos desde Pegassi, Garantias, Servicios postventa, Seguridad y Confiabilidad. ">
		
		<meta name= "keywords" content="Pegassi,postventa,Garantia,Seguridad,Confiabilidad.">
      
    <meta name= "author" content="Ivan Sabino">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-------------------------- MI CSS -------------------------------->

    <link rel="stylesheet" href="../css/style.css">

    <title>Pegassi Argentina
    </title>
    <link rel="shortcout icon" href="../img/logo.png" width="26.75" height="33.75">
  </head>
  <body>

    <!------------------------------ INICIA LA NAV ------------------------------>

			<nav class="navbar navbar-expand-lg  sticky-top navbar-dark bg-degrade banner">
			 <div class="container-fluid">
			   <a class="navbar-brand" href="../index.html">
			  	<img src="../img/logo.png" class="pegassi"  alt="Logo Pegassi Argentina">
			   </a>
			    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			      <span class="navbar-toggler-icon">
			      </span>
			    </button>
			    	<div class="collapse navbar-collapse banner" id="navbarSupportedContent">
			      	<ul class="navbar-nav me-auto mb-2 mb-lg-0 spaces">
			        	<li class="nav-item">
			          	<a class="nav-link space" href="../views/tuatara.html">Tuatara
			          	</a>
			          </li>
			        		<li class="nav-item">
			            	<a class="nav-link space" aria-current="page" href="../views/nuestros-vehiculos.html">Nuestros Vehiculos
			            	</a>
			           	</li>
			       			 <li class="nav-item">
			            	 <a class="nav-link space" href="../views/servicios-al-cliente.html">Servicios al Cliente
			            	 </a>
			          	 </li>
			       				 <li class="nav-item">
			            		<a class="nav-link space" href="../views/contacto.html">Contacto
			            		</a>
			          		 </li>
			      	</ul>
			    	</div>
				</div>
			</nav>

    <!------------------------------ FIN NAV ---------------------------------->

<Header class="text-pregunta">
				<div>
    			<h1 class="container-fluid ">Servicios al Cliente
    			</h1>
				</div>
</Header>
	<main id="selectores">
		<section class="py-3">
			<div class="container-fluid">
				<div class="row">
				
												<!------------------ INICIO CARD I----------------------->

				<article class="col-sm-12  col-md-6 col-lg-3">
					<img src="../img/adquirir.jpg" alt="Garantia Pegassi" class="w-100 d-block rounded-pill autos">
				
						<h2 class="titulo-ser">
							Garantias
						</h2>
							<p class="texto-ser tres">
								La tranquilidad que te da un Pegassi, empieza con 3 años de garantía.
								Pegassi se compromete con la calidad de fabricación de sus vehículos, por ello desde el 1ro de junio de 2020 nuestros vehículos 0 km cuentan con 3 años de garantía sin límite de kilometraje.
								Para contar con este respaldo es necesario que el propietario ejecute en los plazos y/o kilometraje recomendado los servicios de mantenimiento programados por Pegassi en cualquiera de los Concesionarios Oficiales/Talleres autorizados, que mantenga las características del producto y componentes originales Pegassi y que cumpla con los términos y condiciones establecidos en las Condiciones de Garantía que se entregan con el vehículo.
							</p>
								<a href="../views/404.html" class="btn btn-more w-100 mb-2"> Más Info...
								</a>

				</article>

													<!------------------ FIN CARD I----------------------->
				
													<!------------------ INICIO CARD II----------------------->
				
				<article class="col-sm-12  col-md-6 col-lg-3">
					<img src="../img/service.jpg" alt="Service Pegassi" class="w-100 d-block rounded-pill autos">
						<h2 class="titulo-ser">
							Service
						</h2>
							<p class="texto-ser tres">
								Cada 12.000 km o cada año transcurrido, tu vehículo deberá realizar el mantenimiento preventivo. Para ello tu unidad está 	equipada con un indicador de intervalos de servicio (ASSYST PLUS), que te informará sobre el momento óptimo para acercarte a un taller oficial.
								La realización del mantenimiento preventivo es fundamental para mantener la vida útil del vehículo y sus prestaciones, garantizando el correcto funcionamiento de los sistemas de seguridad y confort.
								En nuestra linea de concesionarios y talleres oficiales tu auto va a ser atendido por técnicos especialmente capacitados que trabajan con sistemas y herramientas diseñados a medida de tu vehículo, repuestos originales y el mejor asesoramiento.
							</p>
								<a href="../views/404.html" class="btn btn-more w-100 mb-2"> Más Info...
								</a>

				</article>

												<!---------------------- FIN CARD II ------------------------>

												<!--------------------- INICIO CARD III----------------------->
				
				<article class="col-sm-12  col-md-6 col-lg-3">
					<img src="../img/financial.jpg" alt="Paint Care Pegassi" class="w-100 d-block rounded-pill autos">
						<h2 class="titulo-ser">
						Paint Care
						</h2>
							<p class="texto-ser tres">
								Paint Care tiene como principal responsabilidad asegurar que las reparaciones por accidente de su vehículo se realicen bajo los lineamentos y procesos autorizados por Pegassi, con la intención de garantizar su seguridad y el correcto funcionamiento de los sistemas y componentes.
								Sabemos la importancia de su vehículo para usted, por ello es fundamental que sea reparado con las técnicas y componentes originales que sólo Pegassi le puede ofrecer.
								Recuerde que los talleres autorizados Pegassi son los únicos que pueden garantizar que su vehículo mantenga todas las características de seguridad y calidad previas al siniestro.
							</p>
								<a href="../views/404.html" class="btn btn-more w-100 mb-2"> Más Info... 
								</a>
				</article>

												<!---------------------- FIN CARD III ----------------------->

												<!--------------------- INICIO CARD IV----------------------->
				
				<article class="col-sm-12  col-md-6 col-lg-3">
					<img src="../img/confiabilidad.jpg" alt="Confiabilidad Pegassi" class="w-100 d-block rounded-pill autos">
						<h2 class="titulo-ser">
						Confiabilidad
						</h2>
							<p class="texto-ser tres">
								El compromiso de Pegassi con su seguridad es duradero en el tiempo; de hecho, nos esforzamos en comprobar con frecuencia que los vehículos funcionen correctamente durante todo el ciclo de vida. El desarrollo de nuevas soluciones para mejorar la calidad de los modelos Pegasssi en circulación nos permite iniciar, si fuera necesario, Acciones de Revisión. A los propietarios de los vehículos afectados por una Acción de Revisión se les informa por carta y se les invita a acudir al Service Partner Pegassi más cercano para realizar las operaciones de revisión y reparación. 
							</p>
								<a href="../views/404.html" class="btn btn-more w-100 mb-2"> Más Info...  
								</a>

				</article>

															<!------------------- FIN CARD IV ------------------------->
		
			</div>
	</section>
</main>

						<!------------------------ Option 1: Bootstrap Bundle with Popper ------------------------->
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
   	
   	 											<!------------------ INICIO FOOTER ----------------------->
    
			<footer class="text-center container-fluid footer">
				<div class="copyright">
					<p> 	
					2022 - Pegassi Argentina - Todos los derechos reservados.
					</p>
			      </div>
				<div class="redes-sociales">
					<a href="https://www.facebook.com/Ivanx148/"target="_blank">
						<img class="class" src="../img/facebook.png" alt="Facebook Pegassi Argentina">
					</a>	
						<a href="https://www.instagram.com/ivansabino97/"target="_blank">
							<img class="class" src="../img/instagram.png" alt="Instagram Pegassi Argentina">
						</a>
							<a href="https://twitter.com/IvanSabino97"target="_blank">
								<img class="class" src="../img/twitter.png" alt="Twitter Pegassi Argentina">
							</a>
								<a href="https://www.youtube.com/channel/UC6ip98qcbtTUFduinYYTnIQ"target="_blank">
									<img class="class" src="../img/youtube.png" alt="YouTube Pegassi Argentina">
								</a>
									<a href="https://ar.linkedin.com"target="_blank">
										<img class="class" src="../img/in.png" alt="Linkedin Pegassi Argentina">
									</a>
				</div>
			</footer>
													<!------------------ FIN FOOTER ----------------------->
	</body>
</html>											
	
