<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

		<!------------------------------- METAS SEO ------------------------>

		<meta name= "description" content="Pegassi Tuatara, el vehiculo deportivo más rapido sobre la faz de la Tierra.">

		<meta name= "keywords" content="Pegassi,Tuatara,Beyond Imagination.">
      
     <meta name= "author" content="Ivan Sabino">

    <!----------------------------- BOOTSTRAP CSS --------------------->
   
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!----------------------------- MI CSS ------------------------------>
    
    <link rel="stylesheet" href="../css/style.css">

    <title>Pegassi Argentina
    </title>
    <link rel="shortcout icon" href="../img/logo.png" width="26.75" height="33.75">
  </head>
  <body>

    <!--------------------------- INICIA LA NAV ------------------------------->
    

			<nav class="navbar navbar-expand-lg  sticky-top navbar-light bg-light banner" id="sticky">
			 <div class="container-fluid">
			   <a class="navbar-brand" href="../index.html">
			  	<img src="../img/logo.png" class="pegassi"  alt="Logo Pegassi Argentina">
			   </a>
			    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			      <span class="navbar-toggler-icon">
			      </span>
			    </button>
			    	<div class="collapse navbar-collapse" id="navbarSupportedContent">
			      	<ul class="navbar-nav me-auto mb-2 mb-lg-0">
			        	<li class="nav-item">
			          	<a class="nav-link" href="../views/tuatara.html">Tuatara
			          	</a>
			          </li>
			        		<li class="nav-item">
			            	<a class="nav-link" aria-current="page" href="../views/nuestros-vehiculos.html">Nuestros Vehiculos
			            	</a>
			           	</li>
			       			 <li class="nav-item">
			            	 <a class="nav-link" href="../views/servicios-al-cliente.html">Servicios al Cliente
			            	 </a>
			          	 </li>
			       				 <li class="nav-item">
			            		<a class="nav-link" href="../views/contacto.html">Contacto
			            		</a>
			          		 </li>
			      	</ul>
			    	</div>
				</div>
			</nav>

    			<!-------------------------- FIN NAV -------------------------------->

 		<Header class="text-pregunta" id="selectores">
				<div>
    			<h1 class="text-titulo container-fluid one">Beyond the Limits
    			</h1>
				</div>
						<h2>
							<p class="text-tuata">El nuevo Pegassi Tuatara provoca. Como el primero de su tipo, el Tuatara representa más que nunca un personaje independiente y seguro de sí mismo.
							</p>
						</h2>
		</Header>

						<!-------------------- INICIA SLIDER ---------------------->
						

						<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../img/paginatuata.jpg" class="d-block w-100" alt="Pegassi Tuatara">
    </div>
    <div class="carousel-item">
      <img src="../img/car.jpg" class="d-block w-100" alt="Pegassi Tuatara">
    </div>
    <div class="carousel-item">
      <img src="../img/motorssc.jpg" class="d-block w-100" alt="Pegassi Tuatara">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true">
    </span>
    <span class="visually-hidden">Previous
    </span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true">
    </span>
    <span class="visually-hidden">Next
    </span>
  </button>
</div>

	
			<!--------------------------- FIN SLIDER --------------------------------->
	    						

	    						<h3 class="text-especi">Especificaciones Técnicas
	    						</h3>
	    							<p class="parrafo-especi">El Pegassi Tuatara ya es una realidad, el primer superdeportivo del mundo que posee 1.775 CV y supera los 537 km/h
	    							</p>
			</section>
		</header>
			
							<!-------------------- INICIO ACCORDION ---------------->

			<div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item bg-osc">
    <h2 class="accordion-header" id="flush-headingOne">
      <button class="collapsed titulo-ser transformacion w-100" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        ADN de Competición Puro ↓
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse imagen-center collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
    	<img src="../img/pegatuatara.jpg" alt="Pegassi Tuatara" class="w-50 imagen-center img-thumbnail transform">
      	<p class="texto-ser tres">
							Desde un innovador sistema de admisión, hasta un diseño muy original, el Twin Turbo V8 supone toda una referencia en este tipo de propulsores. Tiene una potencia de 1.350 caballos de fuerza con gasolina de 91 octanos o una cifra aún más elevada, 1.750 caballos con combustible E85, ambas a 8.800 rpm.
							Para el cambio recurre a una transmisión secuencial CIMA de 7 velocidades, integrada con un sistema Automac AMT de última generación, que permite cambios de en menos de 100 milisegundos en modo pista.
							Efectivamente el Pegassi Tuatara incluye tres modos de conducción ( Sport, Track, Lift) que permiten al conductor modificar la suspensión, altura de carrocería, dirección, cambio, y entrega de potencia.
						</p>
							<a href="#" class="btn btn-mas w-100 mb-2"> Más Info...
							</a>
    </div>
  </div>
  <div class="accordion-item bg-osc">
    <h2 class="accordion-header" id="flush-headingTwo">
      <button class="titulo-tuataras transformacion w-100 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        Lenguaje Futurista ↓
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse imagen-center collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
    	<img src="../img/tuatara5.jpg" alt="Interior Pegassi Tuatara" class="w-50 imagen-center img-thumbnail transform">
      <div class="accordion-body">
      	<p class="texto-ser tres">
							Mientras que el exterior del Tuatara fue diseñado para resaltar su combinacion perfecta de forma, tecnologia y rendimiento, el interior es aún más radical. El objetivo muy explícito era crear una cabina de pilotaje que introdujera una dirección de diseño completamente nueva, cuyos efectos se trasladarían a toda la gama futura de Pegassi.
							Los diseñadores adoptaron un lenguaje futurista del concepto de interfaz con un fuerte enfoque en la creación de una cabina envolvente de inspiración aeronáutica con especial énfasis en la instrumentación. Esto destacó y subrayó aún más la relación simbiótica entre el automóvil y el conductor. Este Deportivo simboliza un cambio de época, tanto en términos formales como de contenido, actualizando la Interfaz Hombre-Máquina con tecnología completamente digital.
						</p>
							<a href="#" class="btn btn-mas1 w-100 mb-2"> Más Info...
							</a>
			</div>
    </div>
  </div>
  <div class="accordion-item bg-osc">
    <h2 class="accordion-header" id="flush-headingThree">
      <button class="titulo-ser w-100 transformacion collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
        Flujo de Enfriamiento ↓
      </button>
    </h2>
    <div id="flush-collapseThree" class="accordion-collapse imagen-center collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
    	<img src="../img/motortuata.jpg" alt="Capot y Motor Pegassi Tuatara" class="w-50 imagen-center img-thumbnail transform">
      <div class="accordion-body">
      	<p class="texto-ser tres">
							El motor de combustión interna, la caja de cambios, el aire turboalimentado, la batería y los motores eléctricos, los inversores, los sistemas de carga y los frenos necesitan refrigeración. Se prestó una atención meticulosa al diseño del compartimiento del motor, que aloja tanto los sistemas habituales de motores de combustión interna que generan temperaturas de casi 900 ° C, como componentes electrónicos altamente sensibles a la temperatura.
						</p>
							<a href="#" class="btn btn-mas w-100 mb-2"> Más Info...
							</a>
				</div>
    </div>
  </div>
  <div class="accordion-item bg-osc">
    <h2 class="accordion-header" id="flush-headingFour">
      <button class="titulo-tuataras transformacion w-100 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
        Emisiones de CO2 ↓
      </button>
    </h2>
    <div id="flush-collapseFour" class="accordion-collapse imagen-center collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
    	<img src="../img/motor.jpg" alt="Motor Pegassi Tuatara" class="w-50 imagen-center img-thumbnail transform">
      <div class="accordion-body">
      	<p class="texto-ser tres">
							Las pruebas para evaluar el consumo de combustible y las emisiones de CO2 y otros contaminantes se llevan a cabo en laboratorios y se basan en ciclos de conduccion especificos.
							Esto permite reproducir las pruebas y comparar sus resultados. Es importante porque una prueba de laboratorio que siga un procedimiento estandarizado y repetible es el unico medio que permite a los consumidores comparar los distintos modelos de vehiculo.
						</p>
							<a href="#" class="btn btn-mas1 w-100 mb-2"> Más Info...
							</a>
      </div>
    </div>
  </div>
</div>
										<!-------------------- FIN ACCORDION ------------------->

		
			<!-------------------------- Option 1: Bootstrap Bundle with Popper ------------------------->
    		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    		</script>
    						
    						<!------------- INICIO FOOTER ---------------->

			
			<footer class="text-center container-fluid footer">
				<div class="copyright">
					<p> 	
					2022 - Pegassi Argentina - Todos los derechos reservados.
					</p>
			      </div>
				<div class="redes-sociales">
					<a href="https://www.facebook.com/Ivanx148/"target="_blank">
						<img class="class" src="../img/facebook.png" alt="Facebook Pegassi Argentina">
					</a>	
						<a href="https://www.instagram.com/ivansabino97/"target="_blank">
							<img class="class" src="../img/instagram.png" alt="Instagram Pegassi Argentina">
						</a>
							<a href="https://twitter.com/IvanSabino97"target="_blank">
								<img class="class" src="../img/twitter.png" alt="Twitter Pegassi Argentina">
							</a>
								<a href="https://www.youtube.com/channel/UC6ip98qcbtTUFduinYYTnIQ"target="_blank">
									<img class="class" src="../img/youtube.png" alt="YouTube Pegassi Argentina">
								</a>
									<a href="https://ar.linkedin.com"target="_blank">
										<img class="class" src="../img/in.png" alt="Linkedin Pegassi Argentina">
									</a>
				</div>
			</footer>
									<!------------- FIN FOOTER ---------------->
	</body>
</html>
	